# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.sln.docstates

# Ignore Maui specific files
AppPackages/
AppInstaller/

# Ignore other common files
*.DS_Store
*.lock.json
*.lock
*.pid
*.seed
*.pid.lock
```
