# Ignore build outputs
bin/
obj/
dist/
build/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.sln.docstates

# Ignore Maui specific files
AppPackages/
AppInstaller/

# Ignore other common files
*.DS_Store
*.lock.json
*.lock
*.pid
*.seed
*.pid.lock
Thumbs.db

# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore Notes.Test build outputs
Notes.Test/obj/
Notes.Test/bin/
